rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    // Allowed actions for PRODUCTS
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Allowed actions for STORE SETTINGS
    match /settings/{settingId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Allowed actions for ORDERS
    match /orders/{orderId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
  }
}
